:root {
    --primary-color: tomato;
    --secondary-color: #ff0;
    --font-color: #222;
    --line-color: #ddd;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--font-color);
    font-size: 1.6rem;
    background: #f9f9f9 url(../images/pt04.png);
}

.inner {
    max-width: 129rem;
    margin: 0 auto;
    width: 100%;
}

.l_btn {
    display: inline-block;
    padding: 8px 24px;
    background: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

.a_color {
    font-size: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--i);
    border-radius: 50%;
    transform: translate(0, 40px);
    opacity: 0;

    vertical-align: top;
    border: 2px solid var(--line-color);
}

.pt.active .a_color {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
    transition-delay: calc(var(--n) + 0.5s);
}




.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
    height: 40px;
    padding: 8px 0;
}

.table th {
    text-align: left;
    font-weight: 600;
}



.hd h1 {
    position: fixed;
    top: 4rem;
    left: 8rem;
    z-index: 999;
}

.gnb {
    position: fixed;
    top: 50%;
    right: 8rem;
    transform: translate(0, -50%);
    z-index: 999;
}

.gnb li a {
    position: relative;
    display: block;
    line-height: 3.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--line-color);
    padding-right: 5rem;
}

.gnb li a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-40px, -50%);
    opacity: 0;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/dog.jpg) no-repeat center center/cover;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    outline: 1px dotted var(--font-color);
    transition: 0.4s;
}

.gnb li.on a::after {
    opacity: 1;
    transform: translate(0, -50%);
}

.gnb li.on a {
    color: var(--font-color);
}

.intro .inner {
    position: relative;
}

.intro .dog {
    position: absolute;
    top: -26rem;
    right: 40rem;

    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid transparent;
    outline: 1px dashed var(--line-color);
}

.intro h2 {
    text-align: center;
}

.intro h2 span {
    display: inline-block;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
}

.intro h2 span:nth-child(4) {
    font-size: 0;
    width: 10rem;
    height: 10rem;
    border: 2rem solid var(--primary-color);
    vertical-align: top;
    border-radius: 5rem;
}

.intro i {
    position: absolute;
    top: 4rem;
    right: 8rem;
    font-size: 4rem;
    animation: heart 0.5s infinite;
}

@keyframes heart {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
    }
}

.intro .bar {
    position: relative;
    width: 80%;
    height: 1px;
    background: var(--primary-color);
    margin-top: 6.4rem;
}

.intro .bar span {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-left: 8px solid var(--primary-color);
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    transform: translate(8px, -50%);
}

.pt {
    overflow: hidden;
}

/* .pt::after {
    content: "loading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 900;
    white-space: nowrap;
    opacity: 1;

}

.pt.active::after {
    opacity: 0;
    transition: 1s 1s;
} */

.pt .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12rem;

}

/* .pt .inner>* {
    flex: 1;
} */

.pt .inner .desc {
    transform: translate(-10rem, 0);
    opacity: 0;
}

.pt.active .inner .desc {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.pt .inner .mokup {
    transform: translate(10rem, 0);
    opacity: 0;
}

.pt .inner .mokup img {
    transform: translate(0, 0);
    transition: 0.5s;
}

.pt .inner .mokup:hover img {
    transform: translate(0, calc(-100% + 50rem));
}

.pt.active .inner .mokup {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;
}

.pt .case {
    width: 32rem;
    height: 58rem;
    background: #f9f9f9;
    box-shadow: 15px 15px 30px #d3d3d3, -15px -15px 30px #ffffff;
    border-radius: 4rem;
    border: 10px solid #ffffff;
    outline: 1px solid #dddddd;
    overflow: hidden;
}

.pt .link {
    display: flex;
    gap: 12px;
    margin-top: 3.2rem;
}

.profile .inner {
    display: block;
}

.profile .inner .profileSlide {
    width: 40rem;
}

.profile .inner .profileSlide .mokup {
    margin: 0 2.4rem;
}

.cover {
    position: fixed;
    inset: 50% 50% 50% 50%;
    z-index: 1000;


    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    transition: 0.5s;
}

.cover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: var(--font-color);
    border-radius: 50%;
    transition: 0.5s 0.5s;
}

.cover.on::before {
    border-radius: 0;
    transform: translate(-50%, -50%);
}

.cover.on {
    inset: 0 0 0 0;
}



.cover a {
    display: block;
    margin: 0 0 3.2rem 0;
    font-size: 4rem;
    font-weight: 100;
    color: var(--line-color);
}

.cover .lnb {
    position: relative;
}

.menu {
    position: fixed;
    top: 4rem;
    right: 8rem;
    z-index: 1001;
}

.menu .btn {
    color: var(--line-color);
    font-size: 0;
}

.menu .btn::before {
    content: "";
    display: block;
    width: 4rem;
    height: 4rem;
    background: var(--line-color) url(../images/menu.svg) no-repeat center center;
}


.menu.on .btn::before {
    background: var(--primary-color) url(../images/x.svg) no-repeat center center;
}

.ft .copy {
    position: fixed;
    bottom: 4rem;
    left: 8rem;
    z-index: 999;
}

.ft .to_top {
    position: fixed;
    bottom: 4rem;
    right: 8rem;
    z-index: 999;
}